<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asset Service History</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Service Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="serviceDate" id="field_serviceDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Is Paid</ion-label>
        <ion-checkbox formControlName="isPaid"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Service Amount</ion-label>
        <ion-input type="number" name="serviceAmount" formControlName="serviceAmount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Vendor</ion-label>
        <ion-select id="field_vendor" formControlName="vendor" [compareWith]="compareParty">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option
            [value]="partyOption.id === assetServiceHistory.vendor?.id ? assetServiceHistory.vendor : partyOption"
            *ngFor="let partyOption of vendors; trackBy: trackPartyById"
            >{{partyOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
