<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">ID</ion-label>
      <div item-content>
        <span id="id-content">{{order.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Placed Date</ion-label>
      <div item-content>
        <span id="placedDate-content">{{order.placedDate | date:'medium'}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Status</ion-label>
      <div item-content>
        <span id="status-content">{{order.status}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Cgst</ion-label>
      <div item-content>
        <span id="cgst-content">{{order.cgst}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Sgst</ion-label>
      <div item-content>
        <span id="sgst-content">{{order.sgst}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Total Price</ion-label>
      <div item-content>
        <span id="totalPrice-content">{{order.totalPrice}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Payment Method</ion-label>
      <div item-content>
        <span id="paymentMethod-content">{{order.paymentMethod}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Payment Reference</ion-label>
      <div item-content>
        <span id="paymentReference-content">{{order.paymentReference}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Billing Status</ion-label>
      <div item-content>
        <span id="billingStatus-content">{{order.billingStatus}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Company</ion-label>
      <div item-content *ngIf="order.company">
        <a>{{order.company?.id}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>User</ion-label>
      <div item-content>{{order.user?.login}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Party</ion-label>
      <div item-content *ngIf="order.party">
        <a>{{order.party?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(order)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(order)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
