<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Product Variations</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let productVariation of productVariations; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(productVariation)">
        <ion-label text-wrap>
          <p>{{productVariation.id}}</p>
          <ion-text color="primary"><h2>{{productVariation.name}}</h2></ion-text>
          <p>{{productVariation.description}}</p>
          <p>{{productVariation.price}}</p>
          <p>{{productVariation.imageSrc}}</p>
          <!-- todo: special handling for translating enum - {{'ProductMeasurementType.' + productVariation.measurement}}" -->
          <p>{{productVariation.measurement}}</p>
          <!-- todo: special handling for translating enum - {{'MeasurementUnit.' + productVariation.measurementUnit}}" -->
          <p>{{productVariation.measurementUnit}}</p>
          <p>{{productVariation.discountAmount}}</p>
          <p>{{productVariation.discountPercentage}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, productVariation)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(productVariation)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!productVariations?.length">
    <ion-label> No Product Variations found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
