<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">ID</ion-label>
      <div item-content>
        <span id="id-content">{{orderItem.id}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Unit Price</ion-label>
      <div item-content>
        <span id="unitPrice-content">{{orderItem.unitPrice}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Quantity</ion-label>
      <div item-content>
        <span id="quantity-content">{{orderItem.quantity}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Total Price</ion-label>
      <div item-content>
        <span id="totalPrice-content">{{orderItem.totalPrice}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Product</ion-label>
      <div item-content *ngIf="orderItem.product">
        <a>{{orderItem.product?.name}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Order</ion-label>
      <div item-content *ngIf="orderItem.order">
        <a>{{orderItem.order?.id}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(orderItem)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteModal(orderItem)">{{ 'DELETE_BUTTON' | translate }}</ion-button>
</ion-content>
