<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let product of products; trackBy: trackId" #slidingItem>
      <ion-item (click)="view(product)">
        <ion-label text-wrap>
          <p>{{product.id}}</p>
          <ion-text color="primary"><h2>{{product.name}}</h2></ion-text>
          <p>{{product.description}}</p>
          <p>{{product.price}}</p>
          <ion-avatar *ngIf="product.image">
            <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" />
          </ion-avatar>
          <!-- todo: special handling for translating enum - {{'ProductMeasurementType.' + product.measurement}}" -->
          <p>{{product.measurement}}</p>
          <!-- todo: special handling for translating enum - {{'MeasurementUnit.' + product.measurementUnit}}" -->
          <p>{{product.measurementUnit}}</p>
          <p>{{product.discountAmount}}</p>
          <p>{{product.discountPercentage}}</p>
          <p>{{product.weight}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, product)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(product)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!products?.length">
    <ion-label> No Products found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
